-content_for :page_title do
  =t('title-index')
%h1 Welcome to sabaleuski.com
%div{:class => 'content'}
  -#=video_tag('GOPR0064.MP4', :width => 320, :height => 240, :controls => 'controls', :autoplay=> 'autoplay')
