%div{:id =>'carousel-example-generic', :class=>'carousel slide', 'data-ride' => 'carousel'}
  <!-- Indicators -->
  %ol.carousel-indicators
    %li{'data-target' => '#carousel-example-generic', 'data-slide-to' => '0', :class => 'active'}
    %li{'data-target' => '#carousel-example-generic', 'data-slide-to' => '1'}
    -#%li{'data-target' => '#carousel-example-generic', 'data-slide-to' => '2'}

  <!-- Wrapper for slides -->
  %div{:class => 'carousel-inner', :role => 'listbox'}
    %div.item
      =image_tag 'clouds.png'
      -#%img{:src => = stylesheet_path, :alt => '...'}
      %div.carousel-caption
    %div.item.active
      =image_tag 'road.jpg'
      -#%img{:src => '...', :alt => '...'}
      %div.carousel-caption

  <!-- Controls -->
  %a{:class => 'left carousel-control', :href => '#carousel-example-generic', :role => 'button', 'data-slide' => 'prev'}
    %span{:class => 'glyphicon glyphicon-chevron-left', 'aria-hidden' => 'true'}
    %span.sr-only Previous
  %a{:class => 'right carousel-control', :href => '#carousel-example-generic', :role => 'button', 'data-slide' => 'next'}
    %span{:class => 'glyphicon glyphicon-chevron-right', 'aria-hidden' => 'true'}
    %span.sr-only Next
