// Place all the styles related to the persons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_email,
#user_password,
#user_password_confirmation {
  font-family:Arial;
  font-size:17px;
  font-weight:bold;
  border-radius: 10px;
}