!!!
%html{:lang =>'en'}
  %head
    %title
      =yield :page_title if content_for :page_title
      =t('title-default') unless content_for :page_title
    =csrf_meta_tags
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %div{:class => 'container'}
      = render 'layouts/header'
      = render 'layouts/menu'
      %div{:class => 'main_content'}
        =yield
