!!!
%html{:lang =>'en'}
  %head
    %title
      =yield :page_title
    =csrf_meta_tags
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %div{:class => 'container'}

      %div{:class => 'header'}
        -#= image_tag('GOPR0016.JPG')
        %div{:class => 'login'}
          = unless user_signed_in?
            =link_to 'Login', new_user_session_path, :class => 'button'
            =link_to 'Sing up', new_user_registration_path, :class => 'button'
          = if user_signed_in?
            =link_to 'Sign out', destroy_user_session_path, :class => 'button',  :method => :delete
          %p{:class => 'notice'}
          =notice
          %p{:class => 'alert'}
          =alert
      %div{:class => 'left_menu'}
        =link_to 'Main page', landing_index_path, :class => 'menu_item'
        %br
        =link_to 'Articles', articles_path, :class => 'menu_item'
        %br
        =link_to 'New article', new_article_path, :class => 'menu_item'
      %div{:class => 'main_content'}
        =yield
