!!!
%html{:lang =>'en'}
  %head
    %title
      =yield :page_title
    =csrf_meta_tags
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %div{:class => 'container'}
      %p{:class => 'notice'}
      =notice
      %p{:class => 'alert'}
      =alert

      %div{:class => 'header'}
        -#= image_tag('GOPR0016.JPG')
        %div{:class => 'login'}
          =link_to 'Login', new_user_session_path, :class => 'oval'
          =link_to 'Sing up', new_user_registration_path, :class => 'oval'
      %div{:class => 'left_menu'}
        =link_to 'Main page', landing_index_path, :class => 'menu_item'
        %br
        =link_to 'Articles', articles_path, :class => 'menu_item'
        %br
        =link_to 'New article', new_article_path, :class => 'menu_item'
      %div{:class => 'main_content'}
        =yield
